## ${note}

terraform {
%{ if backend_name != null && backend_name != "" ~}
  backend "${backend_name}" {}
%{ endif ~}
%{ if length(providers) > 0 ~}
  required_providers {
%{ for key, value in providers ~}
    ${value.name} = {
      source  = "${value.source}"
      version = "${value.version}"
%{ if value.configuration_aliases != "[]" ~}
      configuration_aliases = ${value.configuration_aliases}%{ endif ~}

    }
%{ endfor ~}
  }
%{ endif ~}

  required_version = "${terraform_version}"
}
