# ${note}

include "root" {
  path = find_in_parent_folders("root.hcl")
}

terraform {
  source = "${terraform_source}"
}

%{ if length(dependencies) > 0 ~}
%{ for item in dependencies ~}
dependency "${item.name}" {
  config_path = "${item.config_path}"
}

%{ endfor ~}
dependencies {
  paths = ${jsonencode([for item in dependencies : item.config_path])}
}
%{ endif ~}

%{ if remote_state != null ~}
remote_state {
  backend = "${remote_state.name}"
  config = ${replace(replace(jsonencode(remote_state.configs), "\\u003c", "<"), "\\u003e", ">")}
}

%{ endif ~}
%{ if generate_versions ~}
generate "versions" {
  path      = "zz_generated_versions.tf"
  if_exists = "overwrite_terragrunt"
  contents  = <<-EOF
${versions_content}
EOF
}

%{ endif ~}
%{ if generate_providers ~}
generate "providers" {
  path      = "zz_generated_providers.tf"
  if_exists = "overwrite_terragrunt"
  contents  = <<-EOF
${providers_content}
EOF
}

%{ endif ~}
inputs = {
%{ for item in inputs ~}
  ${item.key} = ${item.hcl}
%{ endfor ~}
}
